@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");

.main-content {
  margin: 0;
  padding: 0;
  height: 800px;
  max-width: auto;
  background-image: url(../modules/Images/High-Resolution-World-Map.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

.lobby-title {
  padding: 30px;
  height: 38px;
  font-weight: bold;
  font-size: 40px;
  background-color: #DDE5B6;
  color: #6C584C;
}

.Host-Button {
    width: 300px;
    height: 80px;
    color: white;
    text-align: center;
    line-height: 80px;
    font-weight: 700;
    font-size: 32px;
    background-color: #6C584C;
    border-radius: 40px;
    filter: drop-shadow(4px 8px 4px #b1b1b1);
    display: inline-block;
}

.Join-Button{
    width: 300px;
    height: 80px;
    color: white;
    text-align: center;
    line-height: 80px;
    font-weight: 700;
    font-size: 32px;
    background-color: #6C584C;
    border-radius: 40px;
    filter: drop-shadow(4px 8px 4px #b1b1b1);
    display: inline-block;
}

.Host-Container {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }

