@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");

.HomePage-container {
  font-family: "Open Sans", sans-serif;
  background-image: url(../modules/Images/High-Resolution-World-Map.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 800px;
}

.HomePage-title {
  padding: 30px;
  height: 38px;
  font-weight: bold;
  font-size: 40px;
  background-color: #ADC178;
  color: var(--darkBrown);
}

.HomePage-content {
  background-color: rgba(245, 255, 241, 0.65);
  padding-top: 48px;
  height: 90vh;
  display: flex;
  justify-content: center;
}

/* Sign In */
.HomePage-signin-container {
  width: 400px;
  height: 350px;
  gap: 40px;
  color: var(--offWhite);
  background-color: var(--darkBrown);
  filter: drop-shadow(8px 8px 4px #a6a6a6);
  border-radius: 40px;
  border: solid 1px rgb(136, 136, 136);
}

.HomePage-signin-text {
  margin-top: 80px;
  font-size: 40px;
  font-weight: 400;
}

/* Log Out */
.HomePage-logout-container {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.HomePage-playButton {
  width: 400px;
  height: 80px;
  color: var(--offWhite);
  text-decoration: none;
  text-align: center;
  line-height: 80px;
  font-weight: 700;
  font-size: 32px;
  background-color: var(--darkBrown);
  border-radius: 40px;
  filter: drop-shadow(4px 8px 4px #b1b1b1);
}

.HomePage-logoutButton {
  width: 72px;
  color: var(--offWhite);
  font-family: "Open Sans", sans-serif;
  background-color: var(--darkBrown);
  border: none;
  height: 32px;
  border-radius: 16px;
  filter: drop-shadow(2px 4px 4px #b1b1b1);
}
