@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
}

.HomePage-container {
  font-family: "Times New Roman", Times, serif;
  background-image: url(../modules/Images/globe.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: relative;
}

.HomePage-title {
  padding: 30px;
  height: 38px;
  font-weight: bold;
  font-size: 8vw;
  color: white;
  filter: drop-shadow(2px 4px 2px #4e5e80);
}

/* Sign In */
.HomePage-signin-container {
  width: 30vw;
  height: 15vw;
  color: var(--offWhite);
  background-color: #2c2e41;
  filter: drop-shadow(8px 8px 4px #4e5e80);
  border-radius: 40px;
  border: solid 1px rgb(136, 136, 136);
  /* position: absolute; */
  bottom: 350px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  margin-top: 280px;
}

.homepage-middle-signin {
  display: flex;
  justify-content: center;
}

.HomePage-signin-text {
  margin-top: 40px;
  font-size: 3vw;
  font-weight: 400;
  text-align: center;
  margin-bottom: 15px;
}

/* Log Out */
.HomePage-logout-container {
  padding-top: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.HomePage-playButton {
  width: 25vw;
  height: 5vw;
  color: var(--offWhite);
  text-decoration: none;
  text-align: center;
  font-weight: 700;
  font-size: 3vw;
  font-style: italic;
  background-color: #2c2e41;
  border-radius: 25px;
  filter: drop-shadow(2px 4px 2px #4e5e80);
}

.HomePage-logoutButton {
  width: 10vw;
  color: var(--offWhite);
  font-family: "Times New Roman", Times, serif;
  font-size: 2vw;
  background-color: #2c2e41;
  border: none;
  height: 3vw;
  border-radius: 25px;
  filter: drop-shadow(2px 4px 2px #4e5e80);
}
