@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");


.main-container {
  margin: 0;
  padding: 0;
  height: 100%;
  background-image: url(../modules/Images/High-Resolution-World-Map.jpg);
  background-repeat: no-repeat;
  font-family: "Open Sans", sans-serif;
}

.LobbyPage-content {
  background-color: rgba(245, 255, 241, 0.65);
  height: 100vh;
}

.lobby-title {
  padding: 30px;
  height: 38px;
  font-weight: bold;
  font-size: 40px;
  background-color: #dde5b6;
  color: #6c584c;

  display: flex;
  justify-content: space-between;
}

.LobbyPage-quit {
  height: 32px;
  font-size: 24px;
  width: 100px;
  text-align: center;
  background-color: var(--darkBrown);
  color: var(--offWhite);
  border-radius: 10px;
  text-decoration: none;
}

.Host-Button {
  width: 300px;
  height: 80px;
  color: var(--offWhite);
  text-align: center;
  text-decoration: none;
  line-height: 80px;
  font-weight: 700;
  font-size: 32px;
  background-color: #6c584c;
  border-radius: 40px;
  filter: drop-shadow(4px 8px 4px #b1b1b1);
  display: inline-block;
}

.Join-Button {
  width: 300px;
  height: 80px;
  color: var(--offWhite);
  text-decoration: none;
  text-align: center;
  line-height: 80px;
  font-weight: 700;
  font-size: 32px;
  background-color: #6c584c;
  border-radius: 40px;
  filter: drop-shadow(4px 8px 4px #b1b1b1);
  display: inline-block;
}

.Host-Container {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.LobbyPage-username-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
  background-color: var(--darkBrown);
  padding: 16px;
  width: 300px;
  height: 200px;
  border-radius: 50px;
  color: var(--offWhite);
}

.LobbyPage-username-display {
  font-size: 24px;
  margin-top: -8px;
}

.LobbyPage-username-input,
.LobbyPage-username-button {
  height: 32px;
  font-size: 24px;
  width: 240px;
  text-align: center;
  background-color: var(--offWhite);
  color: var(--darkBrown);
  border-radius: 10px;
}

.LobbyPage-key-text {
  font-size: 24px;
}

.LobbyPage-key-input,
.LobbyPage-key-submit {
  height: 32px;
  font-size: 24px;
  width: 240px;
  text-align: center;
  background-color: var(--offWhite);
  color: var(--darkBrown);
  border-radius: 10px;
}

.LobbyPage-key-back {
  font-size: 12px;
  font-weight: 700;
  height: 20px;
  width: 60px;
  text-align: center;
  background-color: var(--offWhite);
  color: var(--darkBrown);
  border-radius: 5px;
}
