
* {
  box-sizing: border-box;
}

.WaitingRoom-container {
  font-family: "Open Sans", sans-serif;
  background-image: url(../modules/Images/earth_wait.jpg);
  background-size: cover;
  height: 100vw;
  width: 100vw;
  background-repeat: no-repeat;
  position: relative;
}

.left-Bar {
  background-color: rgba(211, 211, 211, 0.623);
  padding: 30px;
  margin: 0px;
  width: 220px;
  height: 830px;
  float: left;
}

.right-Bar {
  background-color: rgba(211, 211, 211, 0.623);
  padding: 30px;
  margin: 0px;
  width: 220px;
  height: 830px;
  float: right;
}

.player-text {
  font-size: 3vw;
  font-weight: bold;
  font-style: italic;
  color:rgb(6, 166, 230);
  filter: drop-shadow(2px 4px 2px #4e5e80);
  text-decoration: none;
}

.player-text-2{
  font-size: 3vw;
  font-weight: bold;
  font-style: italic;
  filter: drop-shadow(2px 4px 2px #a87e72);
  text-decoration: none;
  color: red;
}


.body-container {
  font-size: 2.5vw;
  color: white;
  font-family: 'Times New Roman', Times, serif;
}

.start-text {
  font-weight: bold;
  font-size: 3vw;
  text-align: center;
  color: white;
  font-style: italic;
  filter: drop-shadow(2px 4px 2px #4e5e80);
  text-decoration: none;
}
.start-text-disabled {
  font-size: 40px;
  text-align: center;
  color: rgba(255, 255, 255, 0.763);
  font-style: italic;
}


.start-button {
  background-color:rgb(44, 46, 65);
  width: 21vw;
  height: 6vw;
  filter: drop-shadow(4px 8px 4px #b1b1b1);
  text-decoration: none;
}


.start-button-disabled {
  background-color:rgb(44, 46, 65);
  width: 220px;
  height: 70px;
}
.start-button-disabled :disabled {
  opacity: .8;
}



.gamepin-container{
  text-align: center;
  align-items: center;
  font-size: 2.5vw;
  font-family:'Times New Roman', Times, serif;
  font-weight: bolder;
  height: 50px;
  text-decoration: none;
  color: white;
  filter: drop-shadow(2px 4px 2px #4e5e80);
}

.top-padding{
  padding-top: 20px;
}

.player-padding{
  padding-top: 60px;
}

.buttons{
  height: 3.5vw;
  width: 11.5vw;
  margin: 5px;
  color: var(--offWhite);
  text-decoration: none;
  text-align: center;
  align-items: center;
  font-size: 1.5vw;
  font-family:'Times New Roman', Times, serif;
  background-color: #2c2e41;
  border-radius: 20px;
  filter: drop-shadow(1px 3px 1px #4e5e80);
}

.description-container{
  text-align: center;
  align-items: center;
  font-size: 2.5vw;
  font-weight: bolder;
  font-family:'Times New Roman', Times, serif;
  height: 100px;
  filter: drop-shadow(2px 4px 2px #4e5e80);
  text-decoration: none;
  color: white;
  position: absolute;
  bottom: 60px;
}

.description-padding{
  padding-top: 240px;
}

.row-container{
  display: flex;
  justify-content: center;
}

.start-container{
  text-align: center;
  align-items: center;
  font-size: 2.5vw;
  font-weight: bolder;
  font-family:'Times New Roman', Times, serif;
  height: 100px;
  filter: drop-shadow(2px 4px 2px #4e5e80);
  text-decoration: none;
  color: white;
  position: absolute;
  bottom: 37vh;
}

.Host-Left{
  background-image: url(../modules/Images/host_lefttt.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.host-left-text{
  font-size: 6vw;
  padding-top: 4vh;
  color: white; 
  font-weight: bold;
  font-style: italic;
  filter: drop-shadow(2px 4px 2px #a87e72);
  text-decoration: none;
  text-align: center;
  justify-content: center;
}

.leave-game{
  width: 20vw;
  height: 5vw;
  color: var(--offWhite);
  text-decoration: none;
  text-align: center;
  font-weight: 700;
  font-size: 3vw;
  font-style: italic;
  background-color: #2c2e41;
  border-radius: 25px;
  filter: drop-shadow(2px 4px 2px #4e5e80);
}

.for-links{
  padding-top: 30vh;
}


