.NavBar-container {
    padding: 0;
    background-color: rgba(251, 251, 250, 0.658);
  }
  
  .NavBar-title {
    color: #080447;
    font-size: 40px;
    padding-top: var(--m);
  }
  
  .NavBar-linkContainer {
    margin-left: var(--l);
  }
  
  .NavBar-link{
    color: #080447;
  }
  .NavBar-link:visited {
    color: crimson;
    opacity: 0.6;
    text-decoration: none;
  }
  
  .NavBar-link:hover {
    opacity: 0.8;
  }
  
  .NavBar-link + .NavBar-link {
    margin-left: var(--m);
  }

  .NavBar-center {
    margin: 0 auto;
    text-align: center;
  }
  .nav {
	width: 100%;
	margin: 0 0 1em 0;
	padding: 0;
	background-color: #533571;
	border-bottom: 1px solid #ccc;  }
  
  .nav ul {

	list-style: none;
	width: 800px;
	margin: 0 auto;
	padding: 0; }
  
  .nav li {
	float: left; }
  .nav li a {
	display: block;
	padding: 8px 15px;
	text-decoration: none;
	font-weight: bold;
	color: #069;
	border-right: 1px solid #ccc; }
  .nav li:first-child a {
	border-left: 1px solid #ccc; }
  .nav li a:hover {
	color: #c00;
	background-color: #fff; }